.options {
    float: right;
    border-color: black;
    border: 2px;
}

.image {
    width: 120px;
    height: 120px;

}

// .content {
//     &--main{
//         max-height: 385px;
//     }
//     &--ref{
//         max-height: 200px;
//     }
// }

.listHeader {
    font-weight: bold;
    font-size: 1.5em;
}
.item {
    --color-hover: black;
}
