.footer {
    height: 1px;
}

.videoContainer {
    --border-style: none;
}

.videoPlaceholder {
    margin: auto;
    width: 400 px;
    height: 400 px;
}

.placeholderBlock {
    text-align: center;
    margin: auto;
    width: 240px;
    height: 240px;
}
