.wrapper {
  margin-top: 75px;
}

.footer {
  height: 1px;
}

.bottomOfPage {
  margin-bottom: 30px;
}

.videoPlaceholder {
  margin: auto;
  width: 150px;
  height: 150px;
}

.button {

}

div {
  text-align: center;
}

p {
  color: #ffffff;
}
