.landingParagraphs {
    display: inline-block;
    text-align: left;
    width: 45%;
}

.placeholderBlock {
    width: 240px;
    height: 240px;
}

.learnMore {
    display: block;
    width: 20%;
}
