.landingParagraphs {
    display: inline-block;
    text-align: left;
    width: 45%;
}

.placeholderBlock {
    display: inline-block;
    margin: 30px;
    width: 20%;
    height: 100px;
    background-color: #999999;
}
